{{#*inline "page"}}
{{stylesheet "/forum.css"}}
<section>
    <h1>Forum Topics</h1>
</section>
<section>
    {{#each categories}}
    <div class="category">
        <div class="categoryinfo">
            <h1><a href="{{../http_root}}/forum/category/{{category.hash}}" class="flatlink">{{category.name}}</a></h1>
            <p class="aside">{{category.description}}</p>
        </div>
        <div class="foruminfo aside mediumseparate">
            <div><b>Threads:</b> {{threads_count}}</div>
            {{#if threads.[0]}}
            <div>
                {{#with threads.[0].posts.[0]}}
                <b><time datetime="{{createDate}}">{{timeago createDate}}</time>:</b> 
                <a href="{{../../http_root}}/forum/thread/{{../threads.[0].thread.hash}}/{{id}}#post_{{id}}" class="flatlink">{{../threads.[0].thread.name}}</a>
                {{/with}}
            </div>
            {{/if}}
        </div>
    </div>
    {{#if @last}}
    {{!Rocket's handlebars implementation is very limited, don't have unless or whatever}}
    {{else}}
    <hr>
    {{/if}}
    {{/each}}
</section>
{{/inline}}
{{>layout}}