{{#*inline "page"}}
{{stylesheet "/forum.css"}}
<section>
    <h1>{{category.category.name}}</h1>
    {{> partials/forumpath }}
</section>
<section>
    {{#each category.threads}}
    <div class="thread">
        <!--<div class="threaddata">-->
        <div class="threadinfo">
            <h3><a href="{{@root.http_root}}/forum/thread/{{thread.hash}}" class="flatlink">{{thread.name}}</a></h3>
            <!--<p class="aside">{{category.description}}</p>-->
        </div>
        <div class="foruminfo aside mediumseparate">
            <div class="threadicon">
                <img src="{{@root.http_resources}}/sb-page.png">
            </div>
            <div><b>Posts:</b> {{thread.commentCount}}</div>
            <div>
                <b>Created:</b>
                <time datetime="{{thread.createDate}}">{{timeago thread.createDate}}</time></b> 
            </div>
            {{#if posts.[0]}}
            <div>
                <b>Last:</b>
                <a href="{{@root.http_root}}/forum/thread/{{thread.hash}}/{{posts.[0].id}}#{{posts.[0].id}}" class="flatlink">
                    <time datetime="{{posts.[0].createDate}}">{{timeago posts.[0].createDate}}</time>
                </a>
                by
                {{#with (lookup @root.category.users (string posts.[0].createUserId))}}
                <a class="flatlink" href="{{@root.http_root}}/user/{{username}}">{{username}}</a>
                {{/with}}
            </div>
            {{/if}}
        </div>
        <!--</div>-->
    </div>
    {{#if @last}}
    {{!Rocket's handlebars implementation is very limited, don't have unless or whatever}}
    {{else}}
    <hr class="smaller">
    {{/if}}
    {{/each}}
</section>
{{/inline}}
{{>layout}}