{{#*inline "page"}}
{{stylesheet "/forum.css"}}
<section>
    <h1>{{thread.thread.name}}</h1>
    {{> partials/forumpath }}
    <div class="foruminfo smallseparate aside">
        {{#with thread}}
        {{> partials/threadicon }}
        {{/with}}
        <span>
            <b>OP:</b>
            {{#with (lookup @root.users (string @root.thread.thread.createUserId))}}
            <a class="flatlink" href="{{@root.http_root}}/user/{{username}}">{{username}}</a>
            {{/with}}
        </span>
        <span>
            <b>Created:</b>
            <time datetime="{{thread.thread.createDate}}">{{timeago thread.thread.createDate}}</time>
        </span>
    </div>
</section>
<section {{#with selected_post}}data-selected="{{this}}"{{/with}}>
    {{#*inline "post_item"}}
    {{#with (lookup @root.users (string createUserId)) as | user |}}
    <div class="post {{#if (eq ../id @root.selected_post)}}current{{/if}}" id="post_{{../id}}">
        <div class="postleft">
            <img class="avatar" src="{{imagelink user.avatar 100 true}}">
        </div>
        <div class="postright">
            <div class="postheader">
                <a class="flatlink" href="{{@root.http_root}}/user/{{user.username}}">{{user.username}}</a>
                {{!TODO: this link needs to be generated or something! Too much room for mistakes!}}
                <a class="sequence" href="{{@root.http_root}}/forum/thread/{{@root.thread.thread.hash}}/{{../id}}#post_{{../id}}">#{{lookup @root.sequence (string ../id)}}</a>
            </div>
            <!-- Need a bbcode render helper -->
            <div class="content">{{../text}}</div>
            <div class="postfooter">
                <time class="aside" datetime="{{../createDate}}">{{timeago ../createDate}}</time>
            </div>
        </div>
    </div>
    {{/with}}
    {{/inline}}
    {{!Only care about 'unless' in the main list, the only time this DOES work is if there are ONLY stickies}}
    {{#each thread.posts}}
    {{> post_item}}
    {{#unless @last}}
    <hr class="smaller">
    {{/unless}}
    {{/each}}
    <div id="pagelist" class="smallseparate">
        {{#each pagelist}}
        <a class="{{#if current}}current{{/if}} " href="{{@root.http_root}}/forum/thread/{{@root.thread.thread.hash}}?page={{page}}">{{text}}</a>
        {{/each}}
    </div>
</section>
{{/inline}}
{{>layout}}