{{#*inline "page"}}
{{stylesheet "/forum.css"}}
<section>
    <h1>{{thread.thread.name}}</h1>
    {{> partials/forumpath }}
    <div class="threadcontrols smallseparate aside">
        {{#with thread}}
        {{> partials/threadicon }}
        {{/with}}
        <span>
            <b>OP:</b>
            {{#with (lookup @root.users (string @root.thread.thread.createUserId))}}
            <a class="flatlink" href="{{@root.http_root}}/user/{{username}}">{{username}}</a>
            {{/with}}
        </span>
        <span>
            <b>Created:</b>
            <time datetime="{{thread.thread.createDate}}">{{timeago thread.thread.createDate}}</time>
        </span>
    </div>
</section>
<section>
    {{#*inline "post_item"}}
    <div class="post">
    </div>
    {{/inline}}
    {{!Only care about 'unless' in the main list, the only time this DOES work is if there are ONLY stickies}}
    {{#each thread.posts}}
    {{> post_item}}
    {{#unless @last}}
    <hr class="smaller">
    {{/unless}}
    {{/each}}
    <div id="pagelist" class="smallseparate">
        {{#each pagelist}}
        <a class="{{#if current}}current{{/if}} " href="{{@root.http_root}}/forum/thread/{{@root.thread.thread.hash}}?page={{page}}">{{text}}</a>
        {{/each}}
    </div>
</section>
{{/inline}}
{{>layout}}