<header>
    <nav>
        <a href="{{http_root}}">Home</a>
        {{#if user}}
        <a href="{{http_root}}/logout">Logout {{user.username}}</a>
        {{else}}
        <a href="{{http_root}}/login">Login</a>
        {{/if}}
    </nav>
</header>