<header class="controlbar">
    <nav>
        <a class="plainlink" href="{{http_root}}"><img src="{{http_resources}}/favicon.ico"></a>
        <a class="plainlink" href="{{http_root}}/activity">Activity</a>
        <a class="plainlink" href="{{http_root}}/search">Browse</a>
        <a class="plainlink" href="{{http_root}}/forum">Forums</a>
    </nav>
    <div id="header-user">
        {{#if user}}
        <a class="plainlink" href="{{http_root}}/userhome"><span>{{user.username}}</span><img src="{{imagelink user.avatar 100 true}}"></a>
        {{else}}
        <a href="{{http_root}}/login">Login</a>
        {{/if}}
    </div>
</header>