<header class="controlbar">
    <nav>
        <a class="plainlink headertab" href="{{http_root}}/"><img src="{{http_resources}}/favicon.ico"></a>
        <a {{headerlink "/activity"}}>Activity</a>
        <a {{headerlink "/search"}}>Browse</a>
        <a {{headerlink "/forum"}}>Forums</a>
    </nav>
    <div id="header-user">
        {{#if user}}
        <a {{headerlink "/userhome"}}><span>{{user.username}}</span><img src="{{imagelink user.avatar 100 true}}"></a>
        {{else}}
        <a {{headerlink "/login"}}>Login</a>
        {{/if}}
    </div>
</header>