<!DOCTYPE html>
<html lang="{{language_code}}">
<head>
    {{> partials/basicmeta }}
    <!-- Is this modifiable? -->
    <title>SmileBASIC Source</title>
    <meta name="description" content="A community for sharing programs and getting advice on SmileBASIC applications on the Nintendo DSi, 3DS, and Switch">
    {{stylesheet "/base.css"}}
    {{stylesheet "/layout.css"}}
    {{script "/layout.js"}}
    {{script "/base.js"}}
    <style>
        body {
            background-repeat: repeat;
            background-image: url("{{http_resources}}/sb-tile.png");
        }
    </style>
</head>
<body>
    {{>partials/header}}
    <main>
    {{>page}}
    </main>
    {{>partials/footer}}
</body>
</html>