{{#*inline "page"}}
<!-- Is anyone going to mind styles in the body? I sure hope not... -->
<style>
#userhomeinfo {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0.5em 0.2em;
}
#userhomeinfo > #infoblock {
    margin-right: 1em;
}
#userhomeinfo > img {
    margin-left: auto;
    width: 8em;
    border-radius: 0.9em;
}
/* This isn't ULTRA MINIMAL size (that's 30em), but enough to not have everything on one line */
@media screen and (max-width: 40em)
{
    #userhomeinfo > img {
        margin-right: auto;
    }
    #userhomeinfo {
        padding: 0;
    }
}
</style>
<section>
    {{#if user}}
    <h1>{{user.username}}</h1>
    <div id="userhomeinfo">
        <div id="infoblock">
            <table>
                <tr><td><b>Email:</b></td><td class="spoilertext">{{userprivate.email}}</td></tr>
                <tr><td><b>User ID:</b></td><td>{{user.id}}</td></tr>
                <tr><td><b>Joined:</b></td><td><time>{{user.createDate}}</time></td></tr>
            </table>
            <p><a href="{{http_root}}/logout">Logout</a></p>
        </div>
        <img src="{{imagelink user.avatar 300 true}}">
    </div>
    <hr>
    <!--<h3>Browse images:</h3>-->
    <iframe src="{{http_root}}/widget/imagebrowser" class="imagebrowser"></iframe>
    <hr>
    <h3>Update sensitive info</h3>
    <p>Only set the fields you want to change, except 'current password', which is required</p>
    <form {{selfpost "sensitive"}} autocomplete="off" >
        {{> partials/errorlist errors=sensitiveerrors}}
        <!--<label for="sensitive_username">New Username:</label>
        <input id="sensitve_username" type="text" autocomplete="new-password" name="username" value="">-->
        <label for="sensitive_password">New Password:</label>
        <input id="sensitive_password" type="password" autocomplete="new-password" name="password" value="">
        <label for="sensitive_email">New Email:</label>
        <input id="sensitive_email" type="email" autocomplete="new-password" name="email" value="">
        <label for="sensitive_currentpassword"><b>Current Password:</b> <span class="error">*</span></label>
        <input id="sensitive_currentpassword" type="password" required="" name="currentPassword">
        <input type="submit" value="Update">
    </form>
    <p><b>Note:</b> if you logged in using a temporary recovery password or otherwise don't know your 
        password, you will need to obtain another temporary recovery password through email to fill out the 
        'current password' field above. You can do so <a href="{{http_root}}/login" target="_blank">here</a>.</p>
    {{else}}
    <p class="error">You must be logged in to see userhome!</p>
    {{/if}}
</section>
{{/inline}}
{{>layout}}