{{#*inline "page"}}
<!-- Is anyone going to mind styles in the body? I sure hope not... -->
<style>
#userhomeinfo {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0.5em 0.2em;
}
#userhomeinfo > #infoblock {
    margin-right: 1em;
}
#userlinks {
    display: block;
    margin-left: 0.2em;
    margin-top: 0.4em;
}
#userlinks > * {
    margin-right: 0.15em;
}
#userhomeinfo > img {
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 8.5em;
    border-radius: 0.9em;
}
/* This isn't ULTRA MINIMAL size (that's 30em), but enough to not have everything on one line */
@media screen and (max-width: 40em)
{
    #userhomeinfo {
        justify-content: center;
        padding: 0;
    }
}
</style>
<section>
    {{#if user}}
    <h1>{{user.username}}</h1>
    <div id="userhomeinfo">
        <img src="{{imagelink user.avatar 300 true}}">
        <div id="infoblock">
            <table data-special="{{user.special}}" data-type="{{user.type}}">
                <tr><td><b>Email:</b></td><td class="spoilertext">{{userprivate.email}}</td></tr>
                <tr><td><b>User ID:</b></td><td>{{user.id}}</td></tr>
                <tr><td><b>Joined:</b></td><td><time>{{user.createDate}}</time></td></tr>
                <tr><td><b>Avatar:</b></td><td>{{user.avatar}}</td></tr>
                <tr><td><b>Admin:</b></td><td>{{#if user.admin}}true{{else}}false{{/if}}</td></tr>
            </table>
            <!-- Might turn this into a "coolbutton" -->
            <div id="userlinks" class="smallseparate">
                <a id="publiclink" class="flatlink" href="{{http_root}}/user/{{user.username}}">User page</a> 
                <span>/</span>
                <a id="logoutlink" href="{{http_root}}/logout" class="flatlink">Logout</a>
            </div>
        </div>
    </div>
    <hr>
    <h3 id="update-userbio">Update bio:</h3>
    <form {{selfpost "?bio#update-userbio"}}>
        {{> partials/errorlist errors=bioerrors}}
        <input type="hidden" name="id" value="{{#if userbio.id}}{{userbio.id}}{{else}}0{{/if}}">
        <!--<input type="hidden" name="parentId" value="{{userpages.id}}">-->
        <textarea id="update_userbio" type="text" name="text" value="{{userbio.text}}"></textarea>
        <input type="submit" value="Update">
    </form>
    <hr>
    <h3 id="update-user">Update info:</h3>
    <form {{selfpost "#update-user"}}>
        {{> partials/errorlist errors=updateerrors}}
        <label for="update_username">Username:</label>
        <input id="update_username" type="text" name="username" value="{{user.username}}">
        <label for="update_avatar">Avatar:</label>
        <input id="update_avatar" type="text" name="avatar" value="{{user.avatar}}">
        <p class="aside">Copy key/hash from image browser below</p>
        <input type="submit" value="Update">
    </form>
</section>
<section>
    <!--<hr>-->
    <iframe src="{{http_root}}/widget/imagebrowser" class="imagebrowser"></iframe>
</section>
    <section>
    <h3 id="update-sensitive">Update sensitive info</h3>
    <p>Only set the fields you want to change, except 'current password', which is required</p>
    <form {{selfpost "sensitive#update-sensitive"}} autocomplete="off" >
        {{> partials/errorlist errors=sensitiveerrors}}
        <!--<label for="sensitive_username">New Username:</label>
        <input id="sensitve_username" type="text" autocomplete="new-password" name="username" value="">-->
        <label for="sensitive_password">New Password:</label>
        <input id="sensitive_password" type="password" autocomplete="new-password" name="password" value="">
        <label for="sensitive_email">New Email:</label>
        <input id="sensitive_email" type="email" autocomplete="new-password" name="email" value="">
        <label for="sensitive_currentpassword"><b>Current Password:</b> <span class="error">*</span></label>
        <input id="sensitive_currentpassword" type="password" required="" name="currentPassword">
        <input type="hidden" required="" name="currentEmail" value="{{userprivate.email}}">
        <input type="submit" value="Update">
    </form>
    {{else}}
    <p class="error">You must be logged in to see userhome!</p>
    {{/if}}
</section>
{{/inline}}
{{>layout}}